<a href="https://colab.research.google.com/github/Vishakkrisha/ppml-230901118/blob/main/Time_series_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aim:

To implement and check Time series functions in python

Description:

1. Implement different date time function through DataFrame.

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
dates = [datetime(2011, 1, 2),
datetime(2011, 1, 5),
datetime(2011, 1, 7),
datetime(2011, 1, 8),
datetime(2011, 1, 10),
datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02    0.301511
2011-01-05    0.335348
2011-01-07   -0.096858
2011-01-08    0.122397
2011-01-10    0.240608
2011-01-12   -1.319915
dtype: float64

In [2]:
print("\nDate Index alone from the series: \n",ts.index)

Date Index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [3]:
stamp=ts.index[2]
print("\nSecond Index:\n",stamp)

Second Index:
 2011-01-07 00:00:00

In [4]:
longer_ts=pd.Series(np.random.randn(1000),
index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01    1.059319
2000-01-02   -0.462518
2000-01-03    1.906782
2000-01-04    0.203718
2000-01-05    2.499682
                ...
2002-09-22    0.556696
2002-09-23    1.426819
2002-09-24   -1.411572
2002-09-25    0.472320
2002-09-26   -1.754969
Freq: D, Length: 1000, dtype: float64

In [5]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01   -2.589922
2001-01-02    0.488855
2001-01-03   -0.524149
2001-01-04   -2.130788
2001-01-05   -0.222009
                ...
2001-12-27   -0.636892
2001-12-28   -0.802377
2001-12-29    0.493819
2001-12-30   -0.105034
2001-12-31    0.110323
Freq: D, Length: 365, dtype: float64

In [6]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01   -1.345455
2001-05-02   -1.536874
2001-05-03   -0.386728
2001-05-04   -0.391404
2001-05-05    0.042634
2001-05-06   -0.317267
2001-05-07   -1.453281
2001-05-08   -0.907362
2001-05-09   -1.137776
2001-05-10    0.173906
2001-05-11    0.208226
2001-05-12    0.272427
2001-05-13    0.408575
2001-05-14    2.497112
2001-05-15    0.671332
2001-05-16   -0.277401
2001-05-17   -0.689821
2001-05-18   -0.113208
2001-05-19   -1.902391
2001-05-20    1.018746
2001-05-21   -1.121390
2001-05-22   -0.462642
2001-05-23   -1.157239
2001-05-24    1.394816
2001-05-25   -0.888804
2001-05-26   -0.257447
2001-05-27   -0.152258
2001-05-28   -1.042619
2001-05-29    0.324094
2001-05-30   -1.712212
2001-05-31    0.030547
Freq: D, dtype: float64

In [7]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01    1.059319
2000-01-02   -0.462518
2000-01-03    1.906782
2000-01-04    0.203718
2000-01-05    2.499682
Freq: D, dtype: float64

In [8]:
print("\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01    0.642823
2000-02-02   -0.147027
2000-02-03   -0.712055
2000-02-04    0.477827
2000-02-05    0.378818
2000-02-06   -0.289568
2000-02-07    0.853632
2000-02-08   -0.521114
2000-02-09    1.374683
2000-02-10    0.333022
2000-02-11   -0.138941
2000-02-12   -0.828383
2000-02-13   -0.246301
2000-02-14    0.799293
2000-02-15    0.102435
Freq: D, dtype: float64

In [9]:
print("\nDate range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26   -0.299217
2000-09-27    0.641484
2000-09-28    0.371541
2000-09-29   -0.166826
2000-09-30   -1.634048
                ...
2002-09-22    0.556696
2002-09-23    1.426819
2002-09-24   -1.411572
2002-09-25    0.472320
2002-09-26   -1.754969
Freq: D, Length: 731, dtype: float64

In [10]:
print("\nDate range from 26-9-2001 to 25-9-2002:\n",longer_ts[datetime(2001,9,26):datetime(2002,9,25)])

Date range from 26-9-2001 to 25-9-2002:
 2001-09-26   -0.539201
2001-09-27    0.408217
2001-09-28   -0.787421
2001-09-29    1.466557
2001-09-30   -0.701402
                ...
2002-09-21    0.229287
2002-09-22    0.556696
2002-09-23    1.426819
2002-09-24   -1.411572
2002-09-25    0.472320
Freq: D, Length: 365, dtype: float64