In [1]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [2]:
emp=pd.Series(['Dharsan','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
frame={'Emp':emp,'ID':id}
res=pd.DataFrame(frame)
print("\n Series to Data Frame \n")
print(res)

 Series to Data Frame

         Emp  ID
0    Dharsan  80
1     Sudeep  90
2       Siva  28
3       Yash  57
4  Keerthana  49

In [3]:
print("\n Extracting one column \n")
print(res['Emp'])

 Extracting one column

0      Dharsan
1       Sudeep
2         Siva
3         Yash
4    Keerthana
Name: Emp, dtype: object

In [4]:
print("\n Adding new column \n")
res['ID']=pd.Series([80,90,28,56,89])
res['Age']=pd.Series([19,90,34,67,20])
print(res)

 Adding new column

         Emp  ID  Age
0    Dharsan  80   19
1     Sudeep  90   90
2       Siva  28   34
3       Yash  56   67
4  Keerthana  89   20

In [5]:
print("\n Deleting new column")
del res['Age']
print(res)

 Deleting new column
         Emp  ID
0    Dharsan  80
1     Sudeep  90
2       Siva  28
3       Yash  56
4  Keerthana  89

In [6]:
print("\n Extracting the second row \n")
print(res.loc[1])

 Extracting the second row

Emp    Sudeep
ID         90
Name: 1, dtype: object

In [7]:
print("Slice Rows\n",res[1:4])

Slice Rows
       Emp  ID
1  Sudeep  90
2    Siva  28
3    Yash  56

In [8]:
d2=pd.DataFrame([['Vicky',100],['Rashid',111]],columns=['Emp','ID'])
print("\n Adding new raw values \n",pd.concat([res,d2]))

 Adding new raw values
          Emp   ID
0    Dharsan   80
1     Sudeep   90
2       Siva   28
3       Yash   56
4  Keerthana   89
0      Vicky  100
1     Rashid  111

In [9]:
print('\n Deleting particular row \n',res.drop(2))

 Deleting particular row
          Emp  ID
0    Dharsan  80
1     Sudeep  90
3       Yash  56
4  Keerthana  89

In [10]:
import pandas as pd
import numpy as np
print("DataFrame.apply function \n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original DataFrame \n",info)
print("\n Squareroot of DataFrame \n",info.apply(np.sqrt))
print("\n Sum of each column \n",info.apply(np.sum,axis=0))
print("\n Sum of each row \n",info.apply(np.sum,axis=1))

DataFrame.apply function


 Original DataFrame
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 Squareroot of DataFrame
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 Sum of each column
 S    12
R    36
dtype: int64

 Sum of each row
 0    12
1    12
2    12
3    12
dtype: int64

In [11]:
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print("\n Original DataFrame \n",info)
print("\n Minimum and Maximun of each column \n")
print(info.agg(['min','max']))

 Original DataFrame
    X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7

 Minimum and Maximun of each column

     X  Y  Z
min  1  3  5
max  5  8  7

In [12]:
print("\n DataFrame.Assign function: \n")
d2=pd.DataFrame([['Vishak',88],['Vicky',70]])
columns=(['Emp','ID'])
print("\n Original DataFrame: \n",d2)
d2['Age']=[20,18]
print("\n Adding a new column: \n",d2)
d=d2.assign(Sex=['Male','Male'])
print("\n After adding a new column \n",d)

 DataFrame.Assign function:


 Original DataFrame:
         0   1
0  Vishak  88
1   Vicky  70

 Adding a new column:
         0   1  Age
0  Vishak  88   20
1   Vicky  70   18

 After adding a new column
         0   1  Age   Sex
0  Vishak  88   20  Male
1   Vicky  70   18  Male

In [13]:
print("\n DataFrame sort function \n")
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['A','B'])
print(info)
info2=info.sort_index()
print("\n Sort index \n",info2)
info3=info.sort_values(by='A')
print("\n Sort values \n",info3)

 DataFrame sort function

          A         B
3 -1.443574 -1.000666
2  0.480926  1.872499
0 -1.040489 -0.261402
4 -0.890629 -0.082412
1 -1.081347 -0.348605

 Sort index
           A         B
0 -1.040489 -0.261402
1 -1.081347 -0.348605
2  0.480926  1.872499
3 -1.443574 -1.000666
4 -0.890629 -0.082412

 Sort values
           A         B
3 -1.443574 -1.000666
1 -1.081347 -0.348605
0 -1.040489 -0.261402
4 -0.890629 -0.082412
2  0.480926  1.872499

In [14]:
print("\n DataFrame Merge function \n")
left=pd.DataFrame({'Id':[1,2,3,4],'Name':['Sai','Ravi','Poo','Yash'],'Sub':['Sub1','Sub2','Sub3','Sub4']})
right=pd.DataFrame({'Id':[1,2,3,4],'Name':['Sri','Ram','Poojith','Yashika'],'Sub':['Sub1','Sub4','Sub3','Sub2']})
print(left)
print(right)
print(pd.merge(left,right,on='Id'))

 DataFrame Merge function

   Id  Name   Sub
0   1   Sai  Sub1
1   2  Ravi  Sub2
2   3   Poo  Sub3
3   4  Yash  Sub4
   Id     Name   Sub
0   1      Sri  Sub1
1   2      Ram  Sub4
2   3  Poojith  Sub3
3   4  Yashika  Sub2
   Id Name_x Sub_x   Name_y Sub_y
0   1    Sai  Sub1      Sri  Sub1
1   2   Ravi  Sub2      Ram  Sub4
2   3    Poo  Sub3  Poojith  Sub3
3   4   Yash  Sub4  Yashika  Sub2

In [15]:
import pandas as pd
import numpy as np
arr=np.array(['s','a','i','r','b','l','i'])
a=pd.Series(arr)
print("Series from array")
print(a)

Series from array
0    s
1    a
2    i
3    r
4    b
5    l
6    i
dtype: object

In [16]:
arr={'a':0,'b':1,'c':2}
b=pd.Series(arr)
print("\n series from dictionary \n")
print(b)

 series from dictionary

a    0
b    1
c    2
dtype: int64

In [17]:
x=pd.Series(4,index=[0,1,2,3])
print("\n Series using sclar \n")
print(x)

 Series using sclar

0    4
1    4
2    4
3    4
dtype: int64

In [18]:
print("\n a.series \n",a)
print("\n index \n",a.index)
print("\n values \n",a.values)
print("\n shape \n",a.shape)
print("\n Dimension \n",a.ndim)
print("\n Size \n",a.size)

 a.series
 0    s
1    a
2    i
3    r
4    b
5    l
6    i
dtype: object

 index
 RangeIndex(start=0, stop=7, step=1)

 values
 ['s' 'a' 'i' 'r' 'b' 'l' 'i']

 shape
 (7,)

 Dimension
 1

 Size
 7