In [1]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/Vishak-File - Sheet1.csv")
print(d)

         First Name  Gender  Start Date Login Time     Salary  Bonus%  \
0             Vicky    Male   12/5/2009   7:50 p.m  1,000,000   10.00
1            Venkat    Male  01/06/2006   2:30 a.m  1,000,000    3.50
2             Vaidy    Male    9/9/2009   9:20 p.m    950,000    0.40
3             Varun    Male   9/12/2019   5:45 a.m    450,000    2.00
4         Keerthana  Female    3/2/2000  12:27 p.m    500,000    3.50
5          Karthiha  Female  05/12/2005   8:00 a.m  5,000,000   36.00
6            Yokesh    Male  06/03/2004   8:10 p.m  1,500,000   12.00
7           Poojith    Male    4/8/1998  11:34 a.m    200,000    0.01
8  Yeashika Lakshmi  Female  15/12/2005  11:11 p.m  1,800,000   23.00

   Senior Management        Team
0               True   Technical
1               True   Financial
2              False   Technical
3              False  Analytical
4               True  Analytical
5               True   Technical
6               True   Technical
7               True      Global
8               True   Technical

In [2]:
d=pd.read_excel("/Users/student/Downloads/Vishak-File.xlsx")
print(d)

         First Name  Gender           Start Date Login Time   Salary  Bonus%  \
0             Vicky    Male  2009-12-05 00:00:00   7:50 p.m  1000000   10.00
1            Venkat    Male  2006-01-06 00:00:00   2:30 a.m  1000000    3.50
2             Vaidy    Male  2009-09-09 00:00:00   9:20 p.m   950000    0.40
3             Varun    Male  2019-09-12 00:00:00   5:45 a.m   450000    2.00
4         Keerthana  Female  2000-03-02 00:00:00  12:27 p.m   500000    3.50
5          Karthiha  Female  2005-05-12 00:00:00   8:00 a.m  5000000   36.00
6            Yokesh    Male  2004-06-03 00:00:00   8:10 p.m  1500000   12.00
7           Poojith    Male  1998-04-08 00:00:00  11:34 a.m   200000    0.01
8  Yeashika Lakshmi  Female           15/12/2005  11:11 p.m  1800000   23.00

   Senior Management        Team
0               True   Technical
1               True   Financial
2              False   Technical
3              False  Analytical
4               True  Analytical
5               True   Technical
6               True   Technical
7               True      Global
8               True   Technical

In [3]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/employees details.csv")
print(d)

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0   677509        Drs.       Lois              H    Walker      F
1   940761         Ms.     Brenda              S  Robinson      F
2   428945         Dr.        Joe              W  Robinson      M
3   408351        Drs.      Diane              I     Evans      F
4   193819         Mr.   Benjamin              R   Russell      M
..     ...         ...        ...            ...       ...    ...
95  639892         Mr.       Jose              K      Hill      M
96  704709         Dr.     Harold              Z    Nelson      M
97  461593         Ms.     Nicole              O      Ward      F
98  392491        Mrs.    Theresa              R    Murphy      F
99  495141        Drs.      Tammy              B     Young      F

                          E Mail     Father's Name       Mother's Name  \
0        lois.walker@hotmail.com     Donald Walker        Helen Walker
1      brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2         joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3          diane.evans@yahoo.com       Jason Evans      Michelle Evans
4   benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell
..                           ...               ...                 ...
95         jose.hill@hotmail.com       Carlos Hill           Anna Hill
96       harold.nelson@gmail.com    Richard Nelson       Pamela Nelson
97         nicole.ward@yahoo.com        Ralph Ward          Julia Ward
98      theresa.murphy@gmail.com     George Murphy   Jacqueline Murphy
99       tammy.young@comcast.net      Andrew Young        Brenda Young

   Mother's Maiden Name  Salary
0                 Lewis  168251
1                 Perry   51063
2                Taylor   50155
3                 Allen  180294
4                Nelson  117642
..                  ...     ...
95                Hayes  129774
96                Smith  156194
97                  Lee   95673
98             Peterson   51015
99             Robinson   93650

[100 rows x 11 columns]

In [4]:
df=pd.DataFrame(d)
print("Columns",df.columns)
print(df.shape)

Columns Index(['Emp ID', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name',
       'Gender', 'E Mail', 'Father's Name', 'Mother's Name',
       'Mother's Maiden Name', 'Salary'],
      dtype='object')
(100, 11)

In [22]:
print("Salary" ,df['Salary'])

Salary 0     168251
1      51063
2      50155
3     180294
4     117642
       ...
95    129774
96    156194
97     95673
98     51015
99     93650
Name: Salary, Length: 100, dtype: int64

In [23]:
print(df[5:9])

   Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
5  499687         Mr.    Patrick              F    Bailey      M
6  539712         Ms.      Nancy              T     Baker      F
7  380086        Mrs.      Carol              V    Murphy      F
8  477616        Hon.    Frances              B     Young      F

                    E Mail  Father's Name     Mother's Name  \
5   patrick.bailey@aol.com   Ralph Bailey      Laura Bailey
6       nancy.baker@bp.com    Scott Baker        Judy Baker
7   carol.murphy@gmail.com  Eugene Murphy  Katherine Murphy
8  frances.young@gmail.com     Fred Young     Lillian Young

  Mother's Maiden Name  Salary
5            Henderson   72305
6               Thomas   98189
7             Peterson   60918
8                 Diaz  121587

In [24]:
print("particular person detail:",df.loc[10])

particular person detail: Emp ID                                  231469
Name Prefix                                Mr.
First Name                               Ralph
Middle Initial                               L
Last Name                               Flores
Gender                                       M
E Mail                  ralph.flores@yahoo.com
Father's Name                     Terry Flores
Mother's Name                  Michelle Flores
Mother's Maiden Name                     Moore
Salary                                  118457
Name: 10, dtype: object

In [33]:
print(d.loc[d['Salary'] == 73862])

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
19  622406         Mr.     Thomas              Q     Lewis      M

                    E Mail Father's Name Mother's Name Mother's Maiden Name  \
19  thomas.lewis@gmail.com    Ryan Lewis    Lois Lewis                Price

    Salary
19   73862

In [31]:
df=d['Salary']/999
print(df)

0     168.419419
1      51.114114
2      50.205205
3     180.474474
4     117.759760
         ...
95    129.903904
96    156.350350
97     95.768769
98     51.066066
99     93.743744
Name: Salary, Length: 100, dtype: float64